<ul class="mainUL">
    <% if(uploads.length > 0){ %>
        <h1 class="category-name">Uploads</h1>
    <% } %>

    <% uploads.forEach(file => { %>
        <li class="sub-li">
            <div class="mainDiv uploadsStyle">
                <div>

                    <ul class="uploadInfos">
                        <li class="uploadInfo">
                            <p class="uploadInfo-name"><%= file.name %></p>
                        </li>

                        <li class="uploadInfo">
                            <p class="uploadInfo-title">ID:</p>
                            <p class="uploadInfo-description"><%= file.id %></p>
                        </li>

                        <li class="uploadInfo">
                            <p class="uploadInfo-title">Description:</p>
                            <p class="uploadInfo-description"><%= file.description %></p>
                        </li>

                    </ul>

                </div>

                <div>
                    <button id="upload-download" class="uploadsStyle-btn"><a href="/uploads/<%=file.file%>">Download</a></button>
                    <form action="/uploads/del?id=<%= file.id %>" method="post" style="float: left; width: auto; margin-right: 10px;">
                        <button id="upload-delete" type="submit" class="uploadsStyle-btn">Delete</button>
                    </form>
                </div>
                
            </div>
        </li>
    <% }) %>
</ul>