<ul class="mainUL">
    <h1 class="category-name">Bills</h1>
    <% userBots.forEach(bot => { %> <% const nameSplit = bot.name.split("#")
    %>

    <li class="sub-li">
      <div class="mainDiv">
        <div class="sub-li-handler">
          <img src="<%= bot.picture %>" alt="" class="bot-image" />

          <h3>
            <%= nameSplit[0] %>
            <small>#<%= nameSplit[nameSplit.length - 1] %></small>
          </h3>
          <!-- <p>Watching Syndicate Family</p> -->
        </div>

        <span class="menu">
          <div
            class="menu-right"
            style="
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            "
          >
            <div class="menu-right-top">
              <img src="<%= bot.picture %>" alt="" class="bot-image" />
              <h3>
                <%= nameSplit[0] %>
                <small>#<%= nameSplit[nameSplit.length - 1] %></small>
              </h3>

              <ul class="menu-right-ul">
                <li class="mr-li">
                  <p class="mr-li-key">Owner</p>
                  <p class="mr-li-value"><%= user.username %></p>
                </li>

                <li class="mr-li">
                  <p class="mr-li-key">Developer</p>
                  <p class="mr-li-value">Williams</p>
                </li>

                <li class="mr-li">
                  <p class="mr-li-key">Servers</p>
                  <p class="mr-li-value"><%= bot.servers %></p>
                </li>

                <li class="mr-li">
                  <p class="mr-li-key">Users</p>
                  <p class="mr-li-value"><%= bot.users %></p>
                </li>

                <li class="mr-li">
                  <p class="mr-li-key">Bot ID</p>
                  <p class="mr-li-value"><%= bot.botId %></p>
                </li>

                <li class="mr-li">
                  <p class="mr-li-key">Web ID</p>
                  <p class="mr-li-value"><%= bot.id %></p>
                </li>

                <li class="mr-li">
                  <a href="/bills/<%= bot.id %>" style="width: 100%">
                    <p class="mr-li-key">Bills</p>
                    <p class="mr-li-value" style="float: right">
                      <%= bot.bills %> T
                    </p>
                  </a>
                </li>

                <li class="mr-li">
                  <p class="mr-li-key">Banned</p>
                  <p class="mr-li-value">
                    <%= (bot.blocked == "0") ? "No" : "Yes" %>
                  </p>
                </li>
              </ul>
            </div>

            <button onclick="back()">Back</button>
          </div>
        </span>
      </div>
    </li>

    <% }) %>
  </ul>

  <script>
    var tags = document.getElementsByClassName("sub-li-handler");
    var sub = document.getElementsByClassName("sub-li");
    for (var i = 0; i < tags.length; i++) {
      var tag = tags[i];
      var sub = sub[i];
      tag.addEventListener("click", function (s) {
        sub.className = "sub-li active";
        sub.querySelector(".sub-li-handler").style.opacity = "0";
        setTimeout(() => {
          sub.querySelector(".sub-li-handler").style.display = "none";
          sub.querySelector(".menu").style.display = "block";
          sub.querySelector(".mainDiv").style.display = "block";
          setTimeout(() => {
            sub.querySelector(".menu").style.opacity = "1";
          }, 50);
        }, 500);
      });
    }

    function back() {
      var tags = document.getElementsByClassName("sub-li");
      for (var i = 0; i < tags.length; i++) {
        var tag = tags[i];
        tag.querySelector(".menu").style.opacity = "0";
        setTimeout(() => {
          tag.querySelector(".menu").style.display = "none";
          tag.querySelector(".sub-li-handler").style.display = "flex";
          setTimeout(() => {
            tag.querySelector(".sub-li-handler").style.opacity = "1";
            tag.className = "sub-li";
          }, 100);
        }, 500);
      }
    }
  </script>