<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Willi Website</title>

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/student/dashboard.css">
        <link rel="stylesheet" href="/css/fonts.css">
    </head>
    <body>
        <%- include("../templates/header.ejs", {"student" : true}) %>

        <div class="student-firstD">
            <div class="student-secondD">

                <ul class="informations">

                    <li class="information">
                        <p class="information-key">زبان</p>
                        <p class="information-value"><%= student.language %></p>
                    </li>

                    <li class="information">
                        <p class="information-key">کار های انجام شده</p>
                        <p class="information-value"><%= student.doneWorks %></p>
                    </li>

                    <li class="information">
                        <p class="information-key">کار های انجام نشده</p>
                        <p class="information-value"><%= student.cancelledWorks %></p>
                    </li>

                    <li class="information">
                        <p class="information-key">حضور</p>
                        <p class="information-value"><%= student.doneClasses %></p>
                    </li>

                    <li class="information">
                        <p class="information-key">غیبت</p>
                        <p class="information-value"><%= student.cancelledWorks %></p>
                    </li>

                    <li class="information">
                        <p class="information-key">کنسلی</p>
                        <p class="information-value"><%= student.doneClasses %></p>
                    </li>

                    <li class="information">
                        <p class="information-key bigger-line">برنامه</p>
                        <p class="information-value"><%= student.startedTime %></p>
                    </li>

                    <li class="information">
                        <p class="information-key">زمان هر کلاس</p>
                        <p class="information-value"><%= student.time %></p>
                    </li>
                </ul>

                <ul class="student-left">
                    <div class="student-left1">
                        <ul>
                            <li>
                                <p class="pm-name">Teacher: </p>     
                                <p>Hi! please send me your works today</p>
                            </li>
                        </ul>
                    </div>
                    <div class="student-left2">
                        <div>
                            <div class="student-point">
                                <p><%= student.points %></p>
                                <p>نمره شما :‌</p>
                            </div>
                        </div>
                        <div class="student-left2-bottom">
                            <form action="/student/class?req=cancel" method="post">
                                <button class="danger-button">کنسل کردن کلاس بعدی</button>
                            </form>
                        </div>
                    </div>
                </ul>

            </div>
        </div>

    </body>
</html>